$dark: #333;
$light: #fff;

body{
  align-items: center;
  background-color: $light;
  color: $dark;

  &.dark-theme {
      background-color: $dark;
      color: $light;
      .col-sm-4{
        border: 2px solid rgb(0, 255, 170);
      }
  }
}
.col-sm-4{
  border: 2px solid rgb(51, 10, 145);
  padding-top: 15px;
  padding-bottom: 15px;
}

#change_theme_btn {
  transition: all 0.15s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50px;
  margin-right: 50px;
  background-color: $dark;
  color: $light;
  .dark-theme & {
    background-color: $light;
    color: $dark;
  }
}